.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.buttonWrapper {
    width: 100%;
    float: right;
}

.contentWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}