.buttonsWrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.taskWrapper {
    border: 1px solid mediumpurple;
    border-left: 0;
    border-right: 0;
    margin: 20px auto;
    padding: 5px;
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}